<div class="home-container">
<h1 class="username-profile"><%= user['username']%>'s Reviews</h1>

<form action="/follow_user" method="post">
  <input type="hidden" name="user_id" value="<%= user["id"]%>">
  <button class="follow-btn" type="submit">Follow me</button>

</form>
<div class="feed-container">
  <% users_reviews.each do |review| %>
    <div class="review-container">
      <a class="author-link" href="/users/<%=review['user_id']%>">
        <h1 class="feed-author">@<%= review['user_id']%></h1></a
      >
      <p class="feed-date"><%= review['posting_date']%></p>

      <a href="/reviews/<%= review['id']%>">
        <h1 class="feed-title"><%= review['title']%></h1></a
      >

      <p class="feed-content"><%= review['content']%></p>

      <a href="/reviews/<%= review['id']%>">
        <img class="feed-img" src="<%= review["album_img"] %>" alt=""/></a
      >
    </div>
    <% end %>
</div>

</div>