<div class="full-review-container">
  <div class="review-header">
    <div class="review-details">
      <h1 class="artist-name"><%=individual_review['artist_name']%>,</h1>
      <h1 class="review-title"><%= individual_review['title']%></h1>
      <p class="review-date"><%= individual_review['posting_date']%></p>
      <p class="review-likes"><%individual_review['likes']%></p>
    </div>
    <div class="review-score">
      <p class="score"><%= individual_review['score']%></p>
    </div>

    <img class="review-img" src="<%= individual_review['album_img']%>" alt="" />
  </div>
  <div class="review-body">
    <p class="review-content"><%= individual_review['content']%></p>
    <iframe
      src="<%= individual_review['spotify_embed']%>"
      frameborder="0"
      allowtransparency="true"
      allow="encrypted-media"
    ></iframe>
  </div>
</div>
